.go{
	width:120px;
	height: 40px;
	color:rgb(0, 0, 0);
	background: linear-gradient(21deg, #10abff, #1beabd);
	font-size: 16px;
	border:none;
	border-radius: 20px;
	box-shadow: 0 4px 16px rgba(0,79,255,0.3);
	transition:0.3s;
	position: absolute;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
}
.go:focus {
	outline:0;
}
.go:hover{
	background: linear-gradient(21deg, #1beabd, #10abff);
	cursor: pointer;
	box-shadow: 0 2px 4px linear-gradient(21deg, #10abff, #1beabd);
}